#main {
  padding-top: 20px;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

input, button, a, textarea, select {
  outline: none !important;
}

.site-name {
  margin: 0 0 20px 0;
  cursor: pointer;
}

.label-required:after {
  content: "*";
  color: red;
  margin-left: 5px;
}

form .ng-dirty.ng-invalid, form .ng-dirty.ng-invalid:focus {
	border-color: red;
}
form .ng-dirty.ng-invalid:focus {
	box-shadow: 0 0 8px rgba(255,0,0,0.6);
}

.form-signin .form-control {
  position: relative;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signup .form-control {
  position: relative;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.panel-body form .form-group:last-child {
  margin-bottom: 0;
}

.ng-hide {
  display: none !important;
}

.share-socials {
  margin: 0;
  padding: 0;
  list-style-type: none;
  letter-spacing: -5px;
}
.share-socials li {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  background: url('../images/sprite-socials.png') no-repeat 0 0;
  background-origin: border-box;
  position: relative;
}
.share-socials li span {
  display: none;
}
.share-socials li.facebook {
  background-position: -50px 0;
}
.share-socials li.twitter {
  background-position: -100px 0;
}
.share-socials li:hover, .share-socials li.active {
  border: 3px solid #00E412;
}
.share-socials li.active span {
  display: block;
  color: #fff;
  position: absolute;
  font-size: 12px;
  top: 0;
  left: 0;
}
.share-socials li.active:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background: #00E412;
  border-radius: 0 0 5px 0;
}

@media (max-width: 767px) {
  #main {
    padding-top: 70px;
  }
}