<div id="landing">
	<div class="header">
		<div class="layout">
			<div class="menu clearfix">
				<a ui-sref="landing" class="title pull-left"><span>Soc</span>Post</a>
				<a ui-sref=".signup" ui-sref-active="active" class="btn">Зарегистрироваться</a>
				<a ui-sref=".login"  ui-sref-active="active" class="btn">Войти</a>
			</div>
			<div class="landing-view clearfix" ui-view></div>
		</div>
	</div>
	<div class="layout">
		<section class="wrapper">
			<article class="clearfix">
				<span class="card-image"></span>
				<h4>1) Привязывайте социальные сети к своему аккаунту</h4>
				<p>Это безопасно, как если бы вы зашли в одну из игр любой социальной сети. При подключении появится окно социальной сети, где вы разрешаете приложению размещать посты, которые Вы создали на этом сайте. На данный момент доступно пару социальных сетей, со временем их количество пополняется.</p>
			</article>
			<article class="clearfix">
				<span class="card-image-right card-image-2"></span>
				<h4>2) Пишите сообщения и выбирайте куда отправить</h4>
				<p>Отправляйте сообщения с любого устройства. Не нужно входить в социальные сети для того чтобы написать сообщение.</p>
			</article>
		</section>
		<footer>
			<a ui-sref="landing.privacy" href="#/privacy">Политика конфиденциальности</a> | <a href="mailto:socpost@bobrovartem.ru">socpost@bobrovartem.ru</a> | <span>© 2016</span>
		</footer>
	</div>
</div>