<div id="landing">
	<div class="header">
		<div class="layout">
			<div class="menu clearfix">
				<a ui-sref="landing" class="title pull-left"><span>S</span><span>o</span><span>c</span>Post</a>
				<a ui-sref=".signup" ui-sref-active="active" class="btn">Зарегистрироваться</a>
				<a ui-sref=".login"  ui-sref-active="active" class="btn">Войти</a>
			</div>
			<div class="landing-view clearfix" ui-view></div>
		</div>
	</div>
	<div class="layout">
		<section class="wrapper">
			
		</section>
	</div>
</div>