<section class="privacy">
    <h2>Политика конфиденциальности</h2>
    <p><i>Изменения от 01 мая 2016 года.</i></p>
    
    <h4>Какая информация подлежит сбору</h4>
    <p>Сбору подлежат только сведения, обеспечивающие возможность входа пользователя на сайт, а именно: имя пользователя, адрес электронной почты, пароль.</p>

    <h4>Управление личными данными.</h4>
    <p>Для управления личными данными, пользователю необходимо войти на сайт введя имя пользователя или емеил и пароль в диалог "Вход на сайт" на странице (<a href="http://bobrovartem.ru/socpost/#/login">http://bobrovartem.ru/socpost/#/login</a>)</p>
    <p>Все данные пользователя доступны к редактированию в настройках аккаунта на странице (<a href="http://bobrovartem.ru/socpost/#/settings">http://bobrovartem.ru/socpost/#/settings</a>).</p>
    <p>При удалении пользователем своего аккаунта, на сервере удаляются все созданные пользователем сообщения и добавленную им личную информацию.</p>

    <h4>Защита персональных данных.</h4>
    <p>Доступ к личной информации а так же сообщениям любого пользователя доступен только имея временный ключ (access token), получаемый при авторизации по логину или емейлу и паролю.</p>

    <h4>Порядок передачи личных данных третьим лицам.</h4>
    <p>Статья 7 Закона «О персональных данных» № 152-ФЗ от 27.07.2006 года запрещает разглашение и передачу персональных данных третьим лицам без согласия их носителя.<br>
    Данные могут быть открыты в случаях, предусмотренных действующим законодательством, а именно:<br>
    - получение официального запроса правоохранительных органов;<br>
    - исполнение судебного решения;<br>
    - воспрепятствование мошенничеству;<br>
    - защита прав пользователей и пр.</p>

    <h4>Изменения в политике конфиденциальности.</h4>
    <p>Обновления политики конфиденциальности публикуются на данной странице. Для удобства пользователей все версии политики конфиденциальности подлежат сохранению в архивных файлах.</p>
</section>