<div class="panel panel-primary">
	<div class="panel-heading">Настройки профиля</div>
	<div class="panel-body">
		<div class="form-group">
			<div>
				<label>Добавить социальную сеть:</label>
			</div>
			<input type="button" class="btn btn-success ng-hide" ng-hide="currentUser.twitter" ng-click="connect()" value="Connect Twitter">
		</div>
		<div class="form-group">
			<div>
				<label>Подключенные социальные сети:</label>
			</div>
			<blockquote class="ng-hide" ng-show="!currentUser.twitter&&!currentUser.vkontakte&&!currentUser.facebook">
				<p>Вы не добавили ни одну социальную сеть.</p>
			</blockquote>
			<blockquote class="ng-hide" ng-show="currentUser.twitter">
				<p><b>Twitter:</b> <span ng-bind="currentUser.twitter"></span>  <a href="" class="pull-right" ng-click="remove()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></p>				
			</blockquote>
		</div>
		<br>
		<br>
		<form name="settingsForm" ng-submit="settingsForm.$valid && send()">
			<div class="form-group">
				<label>Имя пользователя</label>
				<input type="text" ng-model="settings.username" name="username" class="form-control" placeholder="username123" username ng-model-options="{debounce: 500}">
			</div>
			<div class="form-group">
				<label>Удалить имя пользователя: <input type="checkbox" ng-model="settings.deleteUsername"></label>
			</div>
			<div class="form-group">
				<label>Смена пароля</label>
				<input type="password" ng-model="settings.password" name="password" class="form-control" placeholder="Новый пароль">
			</div>
			<div class="form-group">
				<input type="password" ng-model="settings.confirmPassword" name="confirmpassword" class="form-control" placeholder="Введите пароль еще раз" confirm-pass="settings.password">
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-primary" ng-class="{disabled: settingsForm.$invalid}" value="Изменить">
			</div>
		</form>
	</div>
</div>